<li class="message-card">
  <div class="message-header">
    <span class="message-user"><%= message.username %></span>
    <span class="message-date"
      ><%= (message.created_at).toLocaleString() %></span
    >
  </div>
  <p class="message-text"><%= message.messagetext %></p>
  <div>
    <a href="/message/<%= index %>" class="btn-secondary">View details</a>
  </div>
</li>
